@font-face {
	font-family: myFirstFont;
	src: url(GameOfSquids-1GMVL.ttf);
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	background-color: #090910;
	color: white;
}

/* Global */

body {
	font-family: "Merriweather", sans-serif;
	background-color: #090910;
	overflow-x: hidden;
	transition: 0.5s;
}


/*---------------------navbar-------------------------*/
header{
	position: sticky;
	top:0;
	z-index: 9;
	background:transparent;
}
a {
	text-decoration: none;
}

button {
	border: none;
	cursor: pointer;
}

.hide__mobile {
	display: none !important;
}

.navbar {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #090910;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
	z-index: 9;
}

.navbar__brand {
	width: 100px;
	margin-left: 10px;
}

.mobile__navbar__items {
	background-color: #090910;
	padding: 1rem;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
	z-index: 9999;
}

.hamburger__menu>div {
	width: 35px;
	height: 5px;
	background-color: #ffffff;
	margin: 6px 0;
}

.hamburger__menu__close {
	display: none !important;
}

.mobile__navbar__items>ul>a {
	margin: 10px 0;
}

.mobile__navbar__items>ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.mobile__navbar__items>ul>a>li {
	font-weight: 600;
	font-size: 1.25rem;
	font-family: myfirstfont;
}

.mobile__navbar__items>ul>a>li:active {
	color: #f44786;
}

.social-icons-list {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.social-icons {
	margin-right: 10px;
}


.navbar__nav__items li {
	font-size: 20px;
	margin: 0 5px;
	text-transform: capitalize;
}

.navbar__nav__items li a {
	color: white;
	transition: color 0.4s ease-in-out;
}

.navbar__nav__items li a:hover {
	color: #f44786;
}

.social-icons {
	display: flex;
	color: white;
}

.social-icons li {
	font-size: 18px;
	margin: 0 4px;
}

.fab {
	color: white;
}

.fab:hover {
	color: #f44786;
}

.navbar__nav__items {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

@media (min-width: 768px) {
	.hide__mobile {
		display: block !important;
	}

	.mobile__only {
		display: none !important;
	}
}

.button__primary {
	margin: 10px;
	padding: 0.5rem 1rem;
	text-align: center;
	text-transform: capitalize;
	transition: 0.5s;
	font-weight: 600;
	background-size: 200% auto;
	color: white;
	box-shadow: 0 0 20px #eee;
	border-radius: 4px;
	display: block;
}

.button__primary:hover {
	background-position: right center;
	/* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}

.nav__item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.nav__item>li:hover {
	text-decoration: underline;
	text-underline-position: under;
}

ul {
	text-decoration: none;
}

li {
	text-decoration: none;
}

.links {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
}

.social-icons-list {
	display: flex;
	flex-direction: row;
	gap: 10px;
}
@media(max-width: 900px) {
	#about {
		margin-top: 30%;
		grid-template-columns: 1fr 1fr;
		width: 100%;
		border-radius: none;
	}

	.image img {
		height: 55vh;
		border-radius: none;

	}

	.content {
		height: 75vh;
		border-radius: none;
		justify-content: flex-start;
	}

	.content h2 {
		font-size: 20px;
		margin-top: 50px;
	}

	.content span {
		margin: 20px 0;
	}

	.content p {
		font-size: 14px;
		width: 80%;
	}

	.links li a {
		font-size: 14px;
	}

	.links {
		margin: 5px 0;
	}

	.links li {
		padding: 6px 10px;
	}

	.icons li i {
		font-size: 15px;
	}

	.arrow-section {
		display: none;
	}

	.navbar__nav__items {
		gap: 2px;
	}

	.social-icons-list {
		gap: 2px;
	}

	.nav__item>li>a {
		font-size: 16px;
	}

	.scrolling-wrapper {
		-webkit-overflow-scrolling: touch;
	}
	
}


/*----------------footer-------------*/
.footer-desc {
	font-size: 1.7rem;
	text-align: center;
}

.devscript-img {
	width: 100%;
	background-color: transparent;
}

.footer-txt {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	background: url("webimages/background.png") no-repeat;
	background-size: cover;
	overflow-y: hidden;
	overflow-x: hidden;
}

.footer-figure-image {
	width: 100%;
	background-color: transparent;
}

.footer-figure {
	margin-right: 10%;
	width: 20rem;
	height: 23rem;
	background: transparent;
	padding-top: 5%;
}

.devscript-logo {
	position: absolute;
	width: 20%;
	background-color: transparent;
	transform: translateY(-170%);
}

.footer-main {
	margin-top: 5rem;
	width: 100%;
}

.footer-team {
	width: 100%;
}

#contact a {
	color: black;
	margin: 10px;
	background: #f44786;
}

#contact p {
	background: #f44786;
	width: 200px;
}

#contact a li {
	background-color: white;
}

#contact {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 170px;
	background-color: #f44786;
	border-radius: 20%;
	margin-top: 18rem;
	margin-left: 20%;
}

#icon {
	background-color: #fff;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 1s, box-shadow 0.5s;
	box-shadow: 0 2px 3px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 24%);
}

#icon-container {
	display: flex;
	justify-content: center;
	background: #f44786;
}

#icon:hover {
	transform: translateY(-3px);
	box-shadow: 0 3px 5px 5px rgb(0 0 0 / 12%), 0 3px 5px rgb(0 0 0 / 24%);
}

#contact p {
	font-size: 14px;
}

#contact fa-twitter {
	background: white;
	color: black;
}

.footer-txt li i {
	color: black;
	background: white;
}
/*---------------------mobile view-------------------------*/
@media screen and (max-width: 550px) {
	.hero {
		flex-direction: column;
		align-items: center;
	}

	.effect-6 {
		top: 25%;
		left: 85%;
	}

	.hero-div-1 {
		width: 70%;
		margin: 0;
	}

	.hero {
		margin: 0;
		height: 100vh;
	}

	.hero-div-2 {
		width: 90%;
	}

	.hero-div-2>p {
		text-align: center;
		font-size: 1.2rem;
	}

	.hero-1 {
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.effect-2 {
		bottom: 50%;
	}

	.effect-5 {
		top: 45%;
	}

	.effect-3 {
		display: none;
	}

	.effect-4 {
		left: 25%;
	}

	.register-p {
		padding: 10px 30px;
		margin-bottom: 20px;
		text-align: center;
		letter-spacing: 1px;
	}

	.hero-div-3 {
		display: flex;
		flex-direction: column;
		align-items: center;
		/* gap:50px; */
	}

	.reg-anchor {
		margin: 0;
	}

	#about {
		grid-template-columns: 1fr;
		margin-top: 80%;
		padding-top: 20px;
	}

	.image img {
		height: 50vh;
	}

	.image {
		margin-bottom: 0;
	}

	.resp-img {
		width: 65%;
	}

	.ThemeContainer {
		overflow-x: scroll;
	}

	.ThemeName {
		width: 50%;
		margin-bottom: 5%;
	}

	.sponsor-image {
		width: 60%;
	}

	.sponsor_section {
		margin-top: 3rem;
	}

	#contact {
		margin-right: 18%;
	}

	.register-btn:active {
		background-color: #f55e96;
	}

	#icon {
		transform: scale(1.1);
	}

	.speaker-image-div {
		width: 70%;
	}

	.accordion {
		width: 90%;
	}

	.panel {
		width: 90%;
		line-height: 20px;
	}

	.faq-main {
		flex-direction: column;
	}

	.faq1 {
		width: 100%;
	}

	.faq2 {
		width: 100%;
	}

	.faq-title {
		width: 23%;
	}

	.new-btn {
		margin-right: 0;
	}

	.theme-desc {
		font-size: 1rem;
		text-align: center;
	}

	.footer-desc {
		font-size: 1rem;
		margin: 0 auto;
		width: 90%;
	}
	.navbar__brand{
		display: none;
	}
}

@media screen and (max-width:1200px) {
	.devscript-logo {
		transform: translateY(-250%);
	}
}

@media screen and (max-width:900px) {
	.devscript-logo {
		transform: translateY(-300%);
	}
}

@media screen and (max-width: 750px) {
	.devscript-logo {
		display: none;
	}

	.footer-figure {
		visibility: hidden;
		display: none;
	}
}

@media screen and (max-width: 1250px) {
	.footer-figure {
		padding-top: 6%;
	}
}

.badge{
	position: absolute;
	width: 130px;
	height: 130px;
	z-index: 11;
	top:-15px;
	right:15%;
	background-color: transparent;
}
.badge-img{
	width:100%;
	height:100%;
	background: transparent;
}
@media screen and (max-width:600px) {
	.slide {
		margin: 0 30px;
	}
	.navbar__brand{
		display: none;
	}
	.badge{
		right:5%;
	}
	.navbar{
		background: transparent;
	}
	.navbar__nav__items{
		background: transparent;
	}
}