@font-face {
	font-family: myFirstFont;
	src: url(GameOfSquids-1GMVL.ttf);
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	background-color: #090910;
	color: white;
	scroll-behavior: smooth;
}

/* Global */

body {
	font-family: "Merriweather", sans-serif;
	background-color: #090910;
	overflow-x: hidden;
	transition: 0.5s;
}


/*---------------------navbar-------------------------*/
header{
	position: sticky;
	top:0;
	z-index: 9;
	background:transparent;
}
a {
	text-decoration: none;
}

button {
	border: none;
	cursor: pointer;
}

.hide__mobile {
	display: none !important;
}

.navbar {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #090910;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
	z-index: 9;
}

.navbar__brand {
	width: 100px;
	margin-left: 10px;
}

.mobile__navbar__items {
	background-color: #090910;
	padding: 1rem;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
	z-index: 9999;
}

.hamburger__menu>div {
	width: 35px;
	height: 5px;
	background-color: #ffffff;
	margin: 6px 0;
}

.hamburger__menu__close {
	display: none;
}

.mobile__navbar__items>ul>a {
	margin: 10px 0;
}

.mobile__navbar__items>ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.mobile__navbar__items>ul>a>li {
	font-weight: 600;
	font-size: 1.25rem;
	font-family: myfirstfont;
}

.mobile__navbar__items>ul>a>li:active {
	color: #f44786;
}

.social-icons-list {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.social-icons {
	margin-right: 10px;
}


.navbar__nav__items li {
	font-size: 20px;
	margin: 0 5px;
	text-transform: capitalize;
}

.navbar__nav__items li a {
	color: white;
	transition: color 0.4s ease-in-out;
}

.navbar__nav__items li a:hover {
	color: #f44786;
}

.social-icons {
	display: flex;
	color: white;
}

.social-icons li {
	font-size: 18px;
	margin: 0 4px;
}

.fab {
	color: white;
}

.fab:hover {
	color: #f44786;
}

.navbar__nav__items {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

@media (min-width: 768px) {
	.hide__mobile {
		display: block !important;
	}

	.mobile__only {
		display: none !important;
	}
}

.button__primary {
	margin: 10px;
	padding: 0.5rem 1rem;
	text-align: center;
	text-transform: capitalize;
	transition: 0.5s;
	font-weight: 600;
	background-size: 200% auto;
	color: white;
	box-shadow: 0 0 20px #eee;
	border-radius: 4px;
	display: block;
}

.button__primary:hover {
	background-position: right center;
	/* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}

.nav__item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.nav__item>li:hover {
	text-decoration: underline;
	text-underline-position: under;
}

ul {
	text-decoration: none;
}

li {
	text-decoration: none;
}

.links {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
}

.social-icons-list {
	display: flex;
	flex-direction: row;
	gap: 10px;
}


/*--------------------------------scroll bar----------------------------*/

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: #ebebeb;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #f44786;
}

.effect-wrap .effect {
	position: absolute;
	z-index: 3;
}


.effect-2 {
	width: 30px;
	height: 30px;
	border: 4px solid #f44786;
	left: 5%;
	bottom: 20%;
	animation: spin 10s linear infinite;
	z-index: 3;
}

.effect-3 {
	width: 30px;
	height: 30px;
	border: 4px solid #f44786;
	right: 55%;
	bottom: 40%;
	animation: spin 10s linear infinite;
	z-index: 3;
}


.effect-4 {
	border-top: 30px solid transparent;
	border-left: 30px solid #06d79c;
	left: 40%;
	top: 20%;
	animation: spin 15s linear infinite;
	z-index: 3;
}

.effect-5 {
	height: 50px;
	width: 50px;
	right: 6%;
	top: 60%;
	display: flex;
	justify-content: space-between;
	border-radius: 50%;
	overflow: hidden;
	animation: spin 10s linear infinite;
	z-index: 3;
}

.effect-5 div {
	width: 1px;
	background-color: #4dd0e1;
}

.effect-6 {
	border-top: 30px solid transparent;
	border-left: 30px solid white;
	left: 35%;
	top: 70%;
	animation: spin 15s linear infinite;
	z-index: 3;
}

.effect-7 {
	border-top: 30px solid transparent;
	border-left: 30px solid #037a76;
	left: 3%;
	top: 12%;
	animation: spin 15s linear infinite;
	z-index: 3;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes topBounce {
	0% {
		transform: translateY(0);

	}

	50% {
		transform: translateY(25px);

	}

}

@keyframes leftBounce {

	0%,
	100% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(25px);
	}

}

@keyframes fadeInTop {
	0% {
		opacity: 0;
		transform: translateY(-25px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}


/*------------------------hero section--------------------*/

.hero {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 70vh;
	margin-bottom: 30px;
}

.hero-img {
	width: 100%;
}

.hero-div-1 {
	padding: 30px 20px;
	width: 40%;
	margin: 0 20px;
}

.hero-1 {
	width: 50%;
	margin-top: 5%;
}

.hero-img-2 {
	width: 100%;
}

.hero-div-2 {
	width: 90%;
	margin-bottom: 5%;
	padding-top: 80px;
}

.hero-div-2>p {
	text-align: center;
	font-family: 'Yuji Hentaigana Akebono', cursive;
	font-size: 1.5rem;
	color: #f44786;
	font-weight: 600;
	word-spacing: 8px;
}

.register-p {
	font-size: 1.1rem;
	font-weight: 500;
	text-align: center;
	line-height: 1.5;
	padding-right: 50px;
	letter-spacing: 2px;
}

.register-btn {
	color: white;
	border: 2px solid white;
	border-radius: 50%;
	padding: 50px 16px;
	text-decoration: none;
	text-align: center;
	vertical-align: center;
	font-size: 1rem;
	font-family: myFirstFont;
}

.register-btn:hover {
	color: white;
	background-color: #f44786;
	border-color: gold;
	transition: 0.4s;
}

.hero-div-3 {
	display: flex;
	flex-direction: column;
	/* gap: 70px; */
	align-items: center;
}

.reg-anchor {
	margin-left: 30%;
}

.arrow-img {
	width: 100%;
	background: transparent;
}

.arrow-div {
	width: 250px;
	float: right;
	margin-right: 22%;
	margin-top: -3%;
	transform: scale(0.5);
	background: transparent;
}

.arrow-txt {
	text-align: center;
	margin-left: 10%;
	color: #E4C68B;
	font-family: 'Kaushan Script', cursive;
	letter-spacing: 2px;
}

.overlap-img {
	position: relative;
	width: 300px;
	height: 250px;
	animation: topBounce 3s ease-in-out infinite;
}

.overlap-img>img {
	border-radius: 25px;
}

.arrow-section {
	height: 55vh;
}

.quote-1 {
	display: flex;
	width: 50%;
	font-size: 1.1rem;
	align-items: center;
	text-align: center;
	letter-spacing: 2px;
	font-weight: 300;
	line-height: 1.7;
}

.quote {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

}

/*--------------------------about us-------------------*/

section {
	display: grid;
	grid-template-columns: 1fr 2fr;
	min-height: 60vh;
	width: 100%;
	margin: 25px auto;
	border-radius: none
}

.image {
	display: flex;
	border-radius: 12px 0 0 12px;
	margin: 50px auto;
}

.image img {
	height: 70vh;
}

.content {
	background-color: #090910;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	border-radius: 0 12px 12px 0;
	color: #fff;
}

.content h2 {
	text-transform: uppercase;
	font-size: 36px;
	letter-spacing: 6px;
	opacity: 0.9;
}

.content span {
	height: 0.5px;
	width: 80px;
	background: #777;
	margin: 30px 0;
}

.content p {
	padding-bottom: 15px;
	font-weight: 300;
	letter-spacing: 2px;
	width: 60%;
	text-align: center;
	margin: 0 auto;
	line-height: 1.7;
	color: #ffffff
}

.vertical-line {
	height: 30px;
	width: 3px;
	background: #C850C0;
	margin: 0 auto;
}

.icons {
	display: flex;
	padding: 15px 0;
}

.icons li {
	display: block;
	padding: 5px;
	margin: 5px;
}

.icons li i {
	font-size: 26px;
	opacity: 0.8;
}

.icons li i:hover {
	color: #C850C0;
	cursor: pointer;
}

@media(max-width: 900px) {
	#about {
		margin-top: 30%;
		grid-template-columns: 1fr 1fr;
		width: 100%;
		border-radius: none;
	}

	.image img {
		height: 55vh;
		border-radius: none;

	}

	.content {
		height: 75vh;
		border-radius: none;
		justify-content: flex-start;
	}

	.content h2 {
		font-size: 20px;
		margin-top: 50px;
	}

	.content span {
		margin: 20px 0;
	}

	.content p {
		font-size: 14px;
		width: 80%;
	}

	.links li a {
		font-size: 14px;
	}

	.links {
		margin: 5px 0;
	}

	.links li {
		padding: 6px 10px;
	}

	.icons li i {
		font-size: 15px;
	}

	.arrow-section {
		display: none;
	}

	.navbar__nav__items {
		gap: 2px;
	}

	.social-icons-list {
		gap: 2px;
	}

	.nav__item>li>a {
		font-size: 16px;
	}

	.scrolling-wrapper {
		-webkit-overflow-scrolling: touch;
	}
	
}

.credit {
	text-align: center;
	color: #000;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.credit a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

.responsive {
	width: 100%;
	padding: 20px;
}

.resp-img {
	width: 50%;
}

/*--------------------------Theme--------------------------*/
.Section {
	width: 100%;
	height: auto;
	align-items: center;
	display: flex;
	overflow-x: hidden;
	flex-direction: column;
	justify-items: center;
	background-color: #090910;
}

@keyframes moveSlideshow {
	0% {
		left: 0;
	}

	100% {
		left: -100%;
	}
}

.ThemeContainer {
	width: 88%;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	margin-bottom: 2%;
	animation: marquee 20s linear infinite;
}

.ThemeContainer:active {
	background-color: transparent;
}

.ThemeName>img {
	width: 100%;
}

.ThemeName {
	margin-bottom: 3%;
	width: 30%;
}

.theme-desc {
	font-size: 1.8rem;
	text-align: center;
}

.ThemeCard {
	top: 0;
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	position: relative;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	border-radius: 20px;
	max-width: 250px;
	min-height: 300px;
	transform: translate3d(0, 0, 0);
	animation: moveSlideshow 30s linear infinite;

}

.ThemeImg {
	top: 0;
	width: 100%;
	height: auto;
	object-fit: cover;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}


.Topic {
	margin-top: 0px;
	padding-left: 10px;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
}

.Description {
	margin-top: 0px;
	padding-left: 10px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	width: 240px;
	background-color: rgb(0, 0, 0);
	white-space: normal;
	color: rgb(255, 255, 255);
}



.Description .more,
.Description.show .dots {
	display: none;
	background-color: rgb(0, 0, 0);

}

.Description.show .more {
	display: inline-flex;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
}

.Description a {
	cursor: pointer;
	display: block;
	margin-top: 0.5em;
	margin-bottom: 1em;
	font-weight: bold;
	background-color: rgb(0, 0, 0);
}


.ThemeCard:hover {
	transform: scale(1.05);
	transition: 0.6s all ease-out;
}

.ThemeCard a {
	color: #ed1b76;
	text-align: right;
	padding-right: 6%;
}

.ThemeCard a:hover {
	color: #037a76;
}


/*---------------sponsor---------------------*/
.sponsor_section {
	margin-top: 30px;
}

.announce {
	font-size: 1.5rem;
}

.sponsor-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 32%;
}


.sponsor_section {
	display: block;
	width: 95%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding: 20px 0;
}


.sponsor_list {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}

.heading {
	margin-bottom: 20px;
}

.subheading {
	margin-top: 20px;
}


/*----------------footer-------------*/
.footer-desc {
	font-size: 1.7rem;
	text-align: center;
}

.devscript-img {
	width: 100%;
	background-color: transparent;
}

.footer-txt {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	background: url("webimages/background.png") no-repeat;
	background-size: cover;
	overflow-y: hidden;
	overflow-x: hidden;
}

.footer-figure-image {
	width: 100%;
	background-color: transparent;
}

.footer-figure {
	margin-right: 10%;
	width: 20rem;
	height: 23rem;
	background: transparent;
	padding-top: 5%;
}

.devscript-logo {
	position: absolute;
	width: 20%;
	background-color: transparent;
	transform: translateY(-170%);
}

.footer-main {
	margin-top: 2rem;
	width: 100%;
}

.footer-team {
	width: 100%;
}

#contact a {
	color: black;
	margin: 10px;
	background: #f44786;
}

#contact p {
	background: #f44786;
	width: 200px;
}

#contact a li {
	background-color: white;
}

#contact {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 170px;
	background-color: #f44786;
	border-radius: 20%;
	margin-top: 18rem;
	margin-left: 20%;
}

#icon {
	background-color: #fff;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 1s, box-shadow 0.5s;
	box-shadow: 0 2px 3px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 24%);
}

#icon-container {
	display: flex;
	justify-content: center;
	background: #f44786;
}

#icon:hover {
	transform: translateY(-3px);
	box-shadow: 0 3px 5px 5px rgb(0 0 0 / 12%), 0 3px 5px rgb(0 0 0 / 24%);
}

#contact p {
	font-size: 14px;
}

#contact fa-twitter {
	background: white;
	color: black;
}

.footer-txt li i {
	color: black;
	background: white;
}


/*------------------speaker----------------*/
.speaker-image {
	width: 100%;
}

.speaker-image-div {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 32%;
}

.container {
	display: flex;
	justify-content: center;
}

.speakers {
	margin-top: 30px;
	width: 90%;
}

.list {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-top: 30px;
	margin-bottom: 30px;
	column-gap: 50px;
	row-gap: 30px;
}

.card-wrap {
	width: 160px;
	background: transparent;
	border-radius: 20px;
	overflow: hidden;
	cursor: pointer;
	transition: all .2s ease-in-out;
	padding: 5px;
}

.card-wrap:hover {
	transform: scale(0.98);
}

.card-header {
	height: 150px;
	width: 100%;
	background-color: transparent;
	border-radius: 100% 0% 100% 0% / 0% 50% 50% 100%;
	display: grid;
	place-items: center;

}

.card-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	margin: 0 auto;
}

.card-title {
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 5px;
	color: white;
}

.card-text {
	text-align: center;
	font-size: 13px;
	margin-bottom: 5px;
	color: white;
}

.card-header.one {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


@media only screen and (max-width:500px) {
	.card-wrap {
		width: 140px;
	}

	

	.list {
		gap: 25px;
	}

	.card-content {
		width: 85%;
	}

	.card-text {
		margin: 0;
	}

	.card-title {
		margin: auto;
		margin-top: 8px;
		margin-bottom: 8px;
	}
	.card-content .socials{
		margin:10px;
	}
}

.text {
	font-size: 2rem;
}

/*-----------sponsor-section-------------------*/
.heading {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	background: transparent;
}

.heading1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	background: transparent;
}

@font-face {
	font-family: myFirstFont;
	src: url(GameOfSquids-1GMVL.ttf);
}

.title {
	font-size: 3rem;
	font-weight: 600;
	padding: 10px 10px 10px 10px;
	color: #e22ea6;
	font-family: myFirstFont;
	text-shadow: 1px 1px #ffffff,
		2px 2px #ffffff,
		3px 3px #ffffff;
	margin-top: 20px;
	background-color: transparent;
}

.title1 {
	font-size: 2.5rem;
	font-weight: 600;
	padding: 10px 10px 10px 10px;
	color: #e22ea6;
	font-family: myFirstFont;
	text-shadow: 1px 1px #ffffff,
		2px 2px #ffffff,
		3px 3px #ffffff;
	margin-top: 20px;
	background-color: transparent;
}

.title::before,
.title1::before {
	content: "";
	color: beige;
	padding-right: 5px;
	transform: scale(2);
}

.title::after,
.title1::after {
	content: "";
	color: beige;
	transform: scale(2);
}

.title:hover,
.title1:hover {
	position: relative;
	top: -3px;
	left: -3px;
	text-shadow: 1px 1px #ffffff,
		2px 2px #ffffff,
		3px 3px #ffffff,
		4px 4px #ffffff,
		5px 5px #ffffff,
		6px 6px #ffffff;
}

.line1 {
	margin-top: 20px;
	width: 10%;
	height: 2px;
	background-color: #fff;
	box-shadow:
		0 0 7px #fff,
		0 0 10px #fff,
		0 0 21px #fff,
		0 0 42px #0fa,
		0 0 82px #0fa,
		0 0 92px #0fa,
		0 0 102px #0fa,
		0 0 151px #0fa;
}

.line2 {
	margin-top: 20px;
	width: 57%;
	height: 2px;
	background-color: #fff;
	box-shadow:
		0 0 7px #fff,
		0 0 10px #fff,
		0 0 21px #fff,
		0 0 42px #0fa,
		0 0 82px #0fa,
		0 0 92px #0fa,
		0 0 102px #0fa,
		0 0 151px #0fa;
}

.lin{
	width: 30%;
	height: 2px;
	background-color: #fff;
	box-shadow:
		0 0 7px #fff,
		0 0 10px #fff,
		0 0 21px #fff,
		0 0 42px #0fa,
		0 0 82px #0fa,
		0 0 92px #0fa,
		0 0 102px #0fa,
		0 0 151px #0fa;
}
.line {
	margin-top: 20px;
	width: 40%;
	height: 2px;
	background-color: #fff;
	box-shadow:
		0 0 7px #fff,
		0 0 10px #fff,
		0 0 21px #fff,
		0 0 42px #0fa,
		0 0 82px #0fa,
		0 0 92px #0fa,
		0 0 102px #0fa,
		0 0 151px #0fa;
}

.line3 {
	margin-top: 20px;
	width: 40%;
	height: 2px;
	background-color: #fff;
	box-shadow:
		0 0 7px #fff,
		0 0 10px #fff,
		0 0 21px #fff,
		0 0 42px #0fa,
		0 0 82px #0fa,
		0 0 92px #0fa,
		0 0 102px #0fa,
		0 0 151px #0fa;
}

.line4 {
	margin-top: 20px;
	width: 10%;
	height: 2px;
	background-color: #fff;
	box-shadow:
		0 0 7px #fff,
		0 0 10px #fff,
		0 0 21px #fff,
		0 0 42px #0fa,
		0 0 82px #0fa,
		0 0 92px #0fa,
		0 0 102px #0fa,
		0 0 151px #0fa;
}

.maker {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	place-items: center;
	justify-content: center;
	align-items: center;
}

.Trailblazer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-top: 50px;
	place-items: center;
	row-gap: 5rem;
}

.Visionary {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-top: 50px;
	place-items: center;
}

.title-sponsor {
	display: grid;
	grid-template-columns: 1fr;
	padding-top: 50px;
	place-items: center;
}

.sponsor-div0>a>img {
	width: 100%;
	height: 100%;
	background-color: #090910;
}
.sponsor-div0 {
	width: 50%;
	place-self: center;
	height: 120px;
	border-radius: 20px;
	overflow: hidden;
}
.sponsor-div>a>img {
	width: 100%;
	height: 100%;
	background-color: #090910;
}

.sponsor-div1>a>img {
	width: 100%;
	height: 100%;
	background-color: #090910;
}

.sponsor-div2>a>img {
	width: 100%;
	height: 100%;
	background-color: #090910;
}

.sponsor-div {
	width: 60%;
	place-self: center;
	height: 150px;
	border-radius: 20px;
	overflow: hidden;
}

.sponsor-div1 {
	width: 60%;
	place-self: center;
	border-radius: 20px;
	overflow: hidden;
}

.sponsor-div2 {
	width: 60%;
	place-self: center;
	height: 135px;
	border-radius: 20px;
	overflow: hidden;
}

.hackclub {
	width: 40%;
}

.sashido {
	margin-top: 15%;
}



@media screen and (max-width: 600px) {
	.Trailblazer {
		padding: 0;
		grid-template-columns: 1fr 1fr;
		gap: 0;
	}

	.Visionary {
		padding: 0;
	}

	.title-sponsor {
		padding: 0;
	}

	.sponsor-div2 {
		padding: 15%;
		width: 100%;
		height: 20vh;
	}

	.sponsor-div1 {
		padding: 15%;
		width: 100%;

	}

	.sponsor-div {
		padding: 12%;
		width: 100%;
		height: 20vh;
	}

	.sponsor-div0{
		padding: 9%;
		width: 100%;
		height: 20vh;
	}

	.title {
		font-size: 2rem;
	}

	.title1 {
		font-size: 1.5rem;
		padding: 10px 0;
	}

	.jaipur {
		transform: scale(1.5);
		width: 65%;
	}

	.amphan {
		transform: scale(1.5);
		width: 65%;
		padding: 5%;
	}

	.hackclub {
		width: 80%;
		height: 20vh;
	}

	.sashido {
		margin-top: 5%;
	}

	.wrky{
		padding:7%;
	}

	.streamyard{
		padding:10%;
	}

	.jetbrain{
		padding:10%;
	}

	.maker {
		padding: 0;
		grid-template-columns: 1fr 1fr;
	}

	.line4 {
		width: 10%;
	}

	.line3 {
		width: 30%;
	}
	.navbar__nav__items{
		background: transparent;
	}
}

@media screen and (max-width: 400px) {
	.line4 {
		width: 5%;
	}

	.line3 {
		width: 4%;
	}
}



/*---------------------faq-------------------------*/
.faq-title {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 11%;
	margin: 2rem auto;
}

.faq-title-image {
	width: 100%;
}

.accordion {
	background-color: #ed1b76;
	color: black;
	cursor: pointer;
	padding: 18px;
	width: 95%;
	border: black;
	text-align: left;
	outline: none;
	font-size: 1.1rem;
	transition: 0.2s;
	margin: 10px auto;
	margin-left: 18px;
	color: white;
	font-weight: bold;
	border-radius: 5px;
}

.accordion:hover {
	background-color: #ccc;
	color: black;
}

.panel {
	padding: 18px;
	margin-left: 18px;
	display: none;
	overflow: hidden;
	width: 95%;
	letter-spacing: 1px;
}

.faq-main {
	display: flex;
	flex-direction: row;
}

.faq1 {
	width: 50%;
}

.faq2 {
	width: 50%;
}

#faq {
	padding: 15px;
}

/*---------------------team-------------------------*/

a {
	text-decoration: none;
}

#member-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 300px;
	width: 180px;
	color: #fff;
	margin: 0px;
}

.team_section {
	width: 90%;
	margin-top: 10vh;
	margin-left: auto;
	margin-right: auto;
}

.team-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-items: center;
	background-color: transparent;
}

@media screen and (max-width:1020px) {
	.team-list {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media screen and (max-width:730px) {
	.team-list {
		grid-template-columns: 1fr 1fr 1fr;
	}
}


#team-image {
	height: 125px;
	width: 125px;
	background-position: center;
	background-size: cover;
	object-fit: cover;
	background-position: center;
	background-size: cover;
	height: 115px;
	width: 115px;
	border-radius: 50%;
	background-color: transparent;
}


.image-div {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 2px;
	height: 125px;
	width: 125px;
	border-radius: 50%;
	background-color: transparent;
}

.image-div:hover {
	transform: scale(1.1);
	-webkit-animation-name: color-transition;
	animation-name: color-transition;
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	margin-bottom: 10px;
}

#member-name {
	color: rgba(255, 255, 255, 0.952);
	font-size: 1rem;
	font-weight: 900;
	padding-bottom: 10px;
	text-align: center;
	border-bottom: 2px solid rgb(255, 0, 179);
}

#member-role {
	color: #fff;
	font-size: 15px;
	margin-top: 10px;
	text-align: center;
}

.socials {
	display: flex;
	flex-direction: row;
	column-gap: 20px;
	margin-top: 10px;
}

i {
	color: aliceblue;
}


.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@media screen and (max-width: 500px) {
	.team-list {
		grid-template-columns: 1fr 1fr;
	}

	#member-card {
		margin: 0px;
		width: 150px;
		height: 250px;
		transform: scale(0.9);
	}

	.image-div {
		transform: scale(0.8);
	}

	.socials {
		transform: scale(1.3);
		column-gap: 15px;
		margin-top: 18px;
	}
	#member-role{
		transform: scale(1.25);
	}
}

@keyframes color-transition {
	0% {
		background-color: #f549d0;
		border-color: #4C6085;
	}

	33% {
		background-color: #20f366;
		border-color: #80D39B;
	}

	66% {
		background-color: #e61e1e;
		border-color: #BE3E82;
	}

	100% {
		background-color: #4C6085;
		border-color: #4C6085;
	}
}







.new-btn {
	position: relative;
	display: inline-block;
	padding: 25px 22px;
	margin: 40px 0;
	color: #03e9f4;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.5s;
	letter-spacing: 4px;
	overflow: hidden;
	width: 160px;
	font-size: 1.2rem;
	background: transparent;
	
}
.btn-one{
	width:160px;
	font-size: 1rem;
	padding:18px 22px;
}
.new-btn:hover {
	background: #03e9f4;
	color: #050801;
	box-shadow: 0 0 5px #03e9f4,
		0 0 25px #03e9f4,
		0 0 50px #03e9f4,
		0 0 200px #03e9f4;
	-webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.new-btn:nth-child(1) {
	filter: hue-rotate(10deg);
}

.new-btn:nth-child(2) {
	filter: hue-rotate(110deg);
}

.new-btn span {
	position: absolute;
	display: block;
}

.new-btn span:nth-child(1) {
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, #03e9f4);
	animation: animate1 1s linear infinite;
}

@keyframes animate1 {
	0% {
		left: -100%;
	}

	50%,
	100% {
		left: 100%;
	}
}

.new-btn span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg, transparent, #03e9f4);
	animation: animate2 1s linear infinite;
	animation-delay: 0.25s;
}

@keyframes animate2 {
	0% {
		top: -100%;
	}

	50%,
	100% {
		top: 100%;
	}
}

.new-btn span:nth-child(3) {
	bottom: 0;
	right: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, #03e9f4);
	animation: animate3 1s linear infinite;
	animation-delay: 0.50s;
}

@keyframes animate3 {
	0% {
		right: -100%;
	}

	50%,
	100% {
		right: 100%;
	}
}


.new-btn span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg, transparent, #03e9f4);
	animation: animate4 1s linear infinite;
	animation-delay: 0.75s;
}

@keyframes animate4 {
	0% {
		bottom: -100%;
	}

	50%,
	100% {
		bottom: 100%;
	}
}

/*---------------------mobile view-------------------------*/
@media screen and (max-width: 550px) {
	.hero {
		flex-direction: column;
		align-items: center;
	}

	.effect-6 {
		top: 25%;
		left: 85%;
	}

	.hero-div-1 {
		width: 70%;
		margin: 0;
	}

	.hero {
		margin: 0;
		height: 100vh;
	}

	.hero-div-2 {
		width: 90%;
		padding-top:10px;
	}

	.hero-div-2>p {
		text-align: center;
		font-size: 1.2rem;
	}

	.hero-1 {
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.effect-2 {
		bottom: 50%;
	}

	.effect-5 {
		top: 45%;
	}

	.effect-3 {
		display: none;
	}

	.effect-4 {
		left: 25%;
	}

	.register-p {
		padding: 10px 30px;
		margin-bottom: 20px;
		text-align: center;
		letter-spacing: 1px;
	}

	.hero-div-3 {
		display: flex;
		flex-direction: column;
		align-items: center;
		/* gap:50px; */
	}

	.reg-anchor {
		margin: 0;
	}

	#about {
		grid-template-columns: 1fr;
		margin-top: 50%;
		padding-top: 20px;
	}

	.image img {
		height: 50vh;
	}

	.image {
		margin-bottom: 0;
	}

	.resp-img {
		width: 65%;
	}

	.ThemeContainer {
		overflow-x: scroll;
	}

	.ThemeName {
		width: 50%;
		margin-bottom: 5%;
	}

	.sponsor-image {
		width: 60%;
	}

	.sponsor_section {
		margin-top: 3rem;
	}

	#contact {
		margin-right: 18%;
	}

	.register-btn:active {
		background-color: #f55e96;
	}

	#icon {
		transform: scale(1.1);
	}

	.speaker-image-div {
		width: 70%;
	}

	.accordion {
		width: 90%;
	}

	.panel {
		width: 90%;
		line-height: 20px;
	}

	.faq-main {
		flex-direction: column;
	}

	.faq1 {
		width: 100%;
	}

	.faq2 {
		width: 100%;
	}

	.faq-title {
		width: 23%;
	}

	.new-btn {
		margin-right: 0;
	}

	.theme-desc {
		font-size: 1rem;
		text-align: center;
	}

	.footer-desc {
		font-size: 1rem;
		margin: 0 auto;
		width: 90%;
	}
}

@media screen and (max-width:1200px) {
	.devscript-logo {
		transform: translateY(-250%);
	}
}

@media screen and (max-width:900px) {
	.devscript-logo {
		transform: translateY(-300%);
	}
}

@media screen and (max-width: 750px) {
	.devscript-logo {
		display: none;
	}

	.footer-figure {
		visibility: hidden;
		display: none;
	}
}

@media screen and (max-width: 1250px) {
	.footer-figure {
		padding-top: 6%;
	}
}

.date {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	column-gap: 2rem;
	margin-top: -1rem;
	color: #fff;
	text-align: center;
	/* -webkit-animation: glow 10s ease-in-out infinite alternate;
  -moz-animation: glow 10s ease-in-out infinite alternate;
  animation: glow 10s ease-in-out infinite alternate; */
	background: transparent;
}

.date>h1 {
	margin-top: -10px;
	font-family: none;
	color: white;
	font-family: myfirstfont;
	background: transparent;
}

@media screen and (max-width: 550px) {
	.date {
		margin-top: 2rem;
		column-gap: 0;
		justify-content: none;
	}
}


@keyframes glow {
	from {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073;
	}

	to {
		text-shadow: 0 0 10px #fff, 0 0 15px #ff4da6, 0 0 20px #ff4da6, 0 0 25px #ff4da6, 0 0 30px #ff4da6, 0 0 35px #ff4da6, 0 0 40px #ff4da6;
	}
}

#loader {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: rgb(0, 0, 0);
	z-index: 99999;
}


/************slider*****************/


.img-box {
	width: 100%;
	height: 100%;
}

.slide {
	width: 100px;
	height: 100px;
	margin: 0 50px;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-250px * 8));
	}
}

.slider {
	background: #ff000000;
	height: 100px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.slider::before,
.slider::after {

	content: "";
	position: absolute;

	z-index: 2;
}

.slider::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);

}

.slider::before {
	left: 0;
	top: 0;

}

.slider .slide-track {
	animation: scroll 30s linear infinite;
	display: flex;
	width: calc(250px * 32);
	background: transparent;
}

.cms1 {
	background: #ffffff00;
	margin-top: 1rem;
}


.cms2 {
	background: #ffffff00;
	margin-top: 3rem;
}

.slide1 {
	width: 250px;
	height: 80px;
}

@keyframes scroll1 {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-250px * 12));
	}
}

.slider1 {
	background: #ff000000;
	height: 100px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.slider1::before,
.slider1::after {
	content: "";
	position: absolute;
	z-index: 2;
}

.slider1::after {
	left: 0;
	top: 0;
	transform: rotateZ(180deg);
}

.slider1::before {
	right: 0;
	top: 0;
}

.slider1 .slide-track1 {
	animation: scroll1 40s linear infinite;
	display: flex;
	width: calc(250px * 38);
	background: transparent;
}


.badge{
	position: absolute;
	width: 170px;
	height: 160px;
	z-index: 11;
	top:-20px;
	right:13%;
	background-color: transparent;
}
.badge-img{
	width:100%;
	height:100%;
	background: transparent;
}

@media screen and (max-width:600px) {
	.slide {
		margin: 0 30px;
	}
	.navbar__brand{
		display: none;
	}
	.badge{
		right:0%;
		width:170px;
		height:160px;
	}
	.navbar{
		background: transparent;
	}
}

/***************timeline*************/

.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
  }
  
  .tabset .tab-panel {
    display: none;
  }
  
  .tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
  .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
  .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
  .tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
  .tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
  .tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
  }
  
  .tabset > label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
  }
  
  .tabset > label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    background: #f44786;
  }
  
  .tabset > label:hover,
  .tabset > input:focus + label {
    color: #f44786;
  }
  
  .tabset > label:hover::after,
  .tabset > input:focus + label::after,
  .tabset > input:checked + label::after {
    background: #fdcee3;
  }
  
  .tabset > input:checked + label {
    border-color: #fdcee3;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
  }
  
  .tab-panel {
    padding: 30px 0;
    border-top: 1px solid #ccc;
  }
  
  .tabset {
    width: 100%;
	padding:0 2%;
  }

.timeline {
    border-left: 3px solid #ed1b76;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: #090910;
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 90%;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;

}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 1px;
	background: transparent;
	color:white;
}

.timeline .event {
    border-bottom: 1px dashed #fdcee3;
    padding-bottom: 5px;
    margin-bottom: 25px;
    position: relative;
	background: transparent;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    
    box-shadow: 0 0 0 3px #ed1b76;
    left: -55.8px;
    background: #fdcee3;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #ed1b76;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}

.buttons{
	display:flex;
	flex-direction: row;
	gap:20px;
	justify-content: space-around;
	align-items: center;
	margin-right: 10%;
}

@media screen and (max-width:600px) {
	.buttons{
		margin-right:0;
	}
}

.keynote{
	display:flex;
	flex-direction: row;
	justify-content: center;
	column-gap: 50px;
	margin-bottom: 50px;
	align-items: center;
}

.keynote-desc{
width:30%;
display:flex;
align-items: center;
justify-content: center;
letter-spacing:2px;
line-height:1.5em;
font-weight: 700;
text-align: center;
}

.keynote-heading{
	margin:30px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	background: transparent;
	justify-content: center;
}

@media screen and (max-width:600px) {
	.keynote{
		flex-direction:column;
		gap:30px;
	}
	.keynote-desc{
		width:95%;
		
	}
	.keynote-img{
		width:50%;
	}
	
}

.join{
	display:flex;
	flex-direction: row;
	gap:3px;
}