.footer-distributed {
  background: #000 ;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  text-align: left;
  padding: 50px 60px 20px;
  overflow: hidden;
}

/* Footer left */

.footer-distributed .footer-left {
  float: left;
}

/* The company logo */

.footer-distributed .footer-left img {
  height: 300px;
}

.footer-distributed h3 span {
  color: #5383d3;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #efefef;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name,
.footer-distributed .footer-author-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons,
.footer-distributed .footer-mail {
  margin: 20px 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right {
  float: right;
}

.footer-distributed .footer-right p {
  display: inline-block;
  vertical-align: top;
  margin: 15px 42px 0 0;
  color: #ffffff;
}
.footer-down {
  text-align: center;
  height: 30px;
}
*:after, *:before {
    size: 34px;
}