@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

ul {
  list-style: none;
}
nav .logo {
  height: 67px;
  position: absolute;
  top: -24px;
  opacity: 1;
}
nav .text-right {
  position: relative;
}
nav .container {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}
.overlay-nav {
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 100%;
  padding-top: 24px;
  line-height: 1;
  background: none;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}
.overlay-nav .logo-dark {
  opacity: 0;
}
.overlay-nav.sticky-nav .logo-light {
  opacity: 0;
}
.overlay-nav.sticky-nav .logo-dark {
  opacity: 1;
}
.bottom-border {
  position: absolute;
  bottom: 2px;
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.sidebar-menu .bottom-border {
  position: relative;
  bottom: 0px;
  background: rgba(255, 255, 255, 0.2);
  display: block !important;
}
.menu {
  display: inline-block;
  text-align: left;
  line-height: 1;
}
.menu li {
  float: left;
  margin-right: 32px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  position: relative;
  top: 4px;
}
.menu li:last-child {
  margin-right: 0px;
}
.menu li:nth-las-child(2) {
  margin-right: 12px;
}
.menu li a {
  color: #fff;
  display: inline-block;
  padding-bottom: 24px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}
.menu li a:hover {
  border-bottom: 2px solid #fff;
}
.nav-dropdown {
  position: absolute;
  z-index: -1;
  display: none;
  background: rgba(255, 255, 255, 0.9);
  min-width: 200px;
  overflow: hidden;
  margin-top: -2px;
}
.nav-dropdown li:first-child {
  margin-top: 12px;
}
.nav-dropdown li {
  opacity: 0;
  margin-right: 0px;
  float: none;
  margin-bottom: 18px;
}
.nav-dropdown li a {
  padding-bottom: 0px;
  padding-left: 24px;
  color: #333333;
}
.nav-dropdown li a:hover {
  border-color: rgba(0, 0, 0, 0);
}
.has-dropdown:hover .nav-dropdown {
  z-index: 10;
  max-height: 300px;
  display: block;
}
.has-dropdown:hover .nav-dropdown li {
  opacity: 1;
}
.has-dropdown a {
  padding-left: 18px;
}
.has-dropdown:before {
  display: inline-block;
  font-family: "Pe-icon-7-stroke";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e688";
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: -6px;
}
.menu .social-link {
  font-size: 14px;
  top: 0px !important;
  margin-right: 18px !important;
}
.menu .social-link:nth-last-child(2) {
  margin-right: 18px;
}
.sticky-nav {
  background: rgba(255, 255, 255, 0.9);
}
.sticky-nav .menu li a {
  color: #333333;
}
.sticky-nav .bottom-border {
  display: none;
}
.sticky-nav .menu li a:hover {
  border-color: rgba(0, 0, 0, 0);
}
.sticky-nav .sidebar-menu-toggle,
.sticky-nav .mobile-menu-toggle {
  color: #333333;
}
.sticky-nav .nav-dropdown {
  background: rgba(255, 255, 255, 0.9);
}
.sticky-nav .has-dropdown:before {
  color: #333333;
}
.sidebar-menu-toggle,
.mobile-menu-toggle {
  position: absolute;
  color: #fff;
  font-size: 32px;
  right: 0px;
  top: -7px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}
.mobile-menu-toggle {
  display: none;
}
.sidebar-menu,
.instagram-sidebar {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 300px;
  height: 100%;
  background: #333333;
  transform: translate3d(300px, 0px, 0px);
  -webkit-transform: translate3d(300px, 0px, 0px);
  -moz-transform: translate3d(300px, 0px, 0px);
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}
.show-sidebar {
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
}
.reveal-sidebar {
  transform: translate3d(-300px, 0px, 0px);
  -webkit-transform: translate3d(-300px, 0px, 0px);
  -moz-transform: translate3d(-300px, 0px, 0px);
}
.sidebar-content {
  padding: 0px 24px;
  margin-top: 24px;
}
.widget {
  margin-bottom: 24px;
}
.widget .title {
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 12px;
}
.widget .menu li {
  float: none;
  margin-bottom: 12px;
}
.widget .menu li a {
  padding-bottom: 0px;
  color: #fff !important;
  font-size: 12px;
}
.widget .menu li a:hover {
  border-color: rgba(0, 0, 0, 0);
}
.widget .menu .social-link {
  display: none;
}
.widget .social-profiles li {
  margin-right: 24px;
}
.widget .social-profiles li a {
  color: #fff;
}
.instagram-toggle {
  cursor: pointer;
}
.instagram-toggle-init {
  pointer-events: none;
}
.instagram-sidebar li {
  width: 100%;
  height: 250px;
}
.instagram-sidebar {
  overflow-y: auto;
}
.sidebar-content .copy-text {
  position: absolute;
  bottom: 32px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
}
.text-panel {
  background: #474747;
  padding: 18px;
}
.relative-nav {
  position: relative;
  padding-top: 28px;
  background: #fff;
}
.relative-nav .menu li a {
  color: #333333;
}
.relative-nav .has-dropdown:before {
  color: #333333;
}
.relative-nav .nav-dropdown {
  background: rgba(53, 53, 53, 0.8);
}
.relative-nav .has-dropdown li a {
  color: #fff;
}
.relative-nav .sidebar-menu-toggle {
  color: #333333;
}
.relative-nav .logo-light {
  opacity: 0 !important;
}
.relative-nav .logo-dark {
  opacity: 1 !important;
}
.relative-nav .logo {
  top: -4px !important;
}
.sidebar-menu .logo {
  max-width: 110px;
  position: relative;
  top: 21px !important;
  margin-bottom: 32px;
  left: 24px;
}
@media all and (max-width: 768px) {
  nav {
    max-height: 67px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.9) !important;
  }
  nav .menu li {
    float: none;
    margin-bottom: 24px;
  }
  nav .menu li a {
    color: #333333 !important;
    padding-bottom: 0px;
  }
  nav .logo {
    height: 67px;
    max-height: unset;
    top: -24px;
  }
  nav .logo-dark {
    opacity: 1 !important;
  }
  nav .logo-light {
    opacity: 0 !important;
  }
  nav .menu {
    width: 100%;
    display: block;
    margin-top: 67px;
    margin-right: 0px;
  }
  nav .social-link {
    float: left !important;
  }
  .sidebar-menu-toggle {
    display: none;
  }
  .mobile-menu-toggle {
    display: block;
    position: fixed;
    top: 17px;
    right: 24px;
    color: #333333 !important;
  }
  .open-menu {
    max-height: 800px !important;
  }
  .nav-dropdown {
    position: relative;
    display: none;
  }
  .has-dropdown:hover .nav-dropdown {
    display: block;
  }
  .has-dropdown:before {
    color: #333333;
  }
}

/* BASE */

#projects {
  top: 80px;
  position: absolute;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
body {

  background: #000;
}
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a, a:hover {
  text-decoration: none;
}

p {
  color: #969696;
    margin: 0;
    padding: 0;
    line-height: 1.65em;
    font-weight: 400;
}
/* header */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  background: linear-gradient(-30deg, #3d0b0b 50%, #2b0808 50%);
  padding: 20px 20px;
  margin: 10px;
  display: inline-block;
  transform: translate(0%, 0%);
  overflow: hidden;
  color: #f7d4d4;
  font-size: 20px;
  letter-spacing: 2.5px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.title::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #ad8585;
  opacity: 0;
  -webkit-transition: .2s opacity ease-in-out;
  transition: .2s opacity ease-in-out;
}

.title:hover::before {
  opacity: 0.2;
}

.title span {
  position: absolute;
}

.title span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(43, 8, 8, 0)), to(#d92626));
  background: linear-gradient(to left, rgba(43, 8, 8, 0), #d92626);
  -webkit-animation: 2s animateTop linear infinite;
          animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.title span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(43, 8, 8, 0)), to(#d92626));
  background: linear-gradient(to top, rgba(43, 8, 8, 0), #d92626);
  -webkit-animation: 2s animateRight linear -1s infinite;
          animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.title span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(43, 8, 8, 0)), to(#d92626));
  background: linear-gradient(to right, rgba(43, 8, 8, 0), #d92626);
  -webkit-animation: 2s animateBottom linear infinite;
          animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.title span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 8, 8, 0)), to(#d92626));
  background: linear-gradient(to bottom, rgba(43, 8, 8, 0), #d92626);
  -webkit-animation: 2s animateLeft linear -1s infinite;
          animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PROJECT TILES */
.project-card {
  background: #fff;
  border-radius: 2px;
  margin: 25px auto;
  overflow: auto;
  position: relative;
  width: 325px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.075);
}

.project-image {
  border-radius: 2px 2px 0 0;
  height: 110px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.project-image img {
  border-radius: 50%;
}

.project-owner {
  display: inline-block;
  padding: 3px 8px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: .68em;
  position: absolute;
  top: 197px;
  right: 0;
  border-radius: 2px 0 0 0;
}

.project-body {
  padding: 24px 30px 0;
}

.project-name {
  color: #2f3032;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 16px;
}

.project-tags {
  color: #a7aab0;
  font-size: .8125em;
  margin-bottom: .8125em;
}

.project-footer {
  border-top: 1px solid #f1f2f3;
  margin-top: 25px;
  padding: 1em 30px;
  text-align: center;
}

.project-links {
  list-style: none;
  margin: 0;
}
.project-links li {
  display: inline-block;
  margin: 0 0 2px 0;
}
.project-links a {
  color: #fff;
  background: #66a5e9;
  border-radius: 2px;
  padding: 3px 10px;
  transition: background 0.3s ease;
}
.project-links a:hover {
  background: #4785C7;
  text-decoration: none;
}
.fas {
  margin-right: 10px;
}
.repo-info {
  width: 50%;
}


/* Footer */
.footer-distributed {
  background: #000 ;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  text-align: left;
  padding: 50px 60px 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* Footer left */

.footer-distributed .footer-left {
  text-align: center;
}

/* The company logo */

.footer-distributed .footer-left img {
  height: 300px;
}

.footer-distributed h3 span {
  color: #5383d3;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #efefef;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name,
.footer-distributed .footer-author-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-down {
  text-align: center;
  height: 30px;
  background: #000;
}