* {
	margin: 0;
	padding: 0;
}

a {
    text-decoration: none !important;
}

iframe {
    width: -webkit-fill-available;
}

.header {
	position: relative;
    overflow: hidden;
    border-bottom: 1px solid #E0E0E0;
    padding: 50px 10px 30px;
}

.header::before {
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

.body {
	width: 100%;
}

.logo {
	position: absolute;
	top: 10px;
	left: 10px;
}

.logo > img {
	width: 150px;
}

.contain-center {
	max-width: 915px;
	margin-right: auto;
	margin-left: auto;
}

.register-header {
	display: flex;
	flex-flow: row;
}

.event_date {
	font-size: 16px;
    letter-spacing: 0px;
    line-height: 19px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.event_date a {
	color: rgba(255, 255, 255, 0.9);
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    display: block;
    width: 100%;
    padding: 5px 6px 5px;
    text-decoration: none;
    transition: border 150ms ease;
}
.event_date span {
	display: block
}

.event_month {
	font-size: 15px;
	text-transform: uppercase;
}

.event_day {
	font-size: 30px;
	margin: 5px 0;
	font-weight: normal;
}

.event_time {
	font-size: 12px;
	padding-top: 2px;
}

.event_title {
	color: #FFF;
    font-size: 31px;
    font-weight: normal;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 5px;
    align-self: center;
}

.event_title h1 {
    text-transform: uppercase;
}

.event_timer {
    padding-top: 20px;
    text-align: center;
    /*position: absolute;*/
    width: 100%;
    bottom: 0;
    padding-right: 25px;
}

.event_timer .col {
	width: 25%;
	float: left;
}

.event_timer .num {
	font-weight: 300;
	font-size: 29px;
	line-height: 35px;
    color: #efefef;
}

.event_timer .sublabel {
	color: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
}

.event-cover {
	margin-top: -20px;
	display: block;
	border-radius: 3px;
    overflow: hidden;
    margin-bottom: 30px;
    text-align: center;
}

.event-cover img {
    height: 315px;
    width: 100%;
}

.event-description {
	padding-bottom: 80px;
    padding-left: 10px;
    padding-right: 10px;
}

.event-actions {
	margin-top: -20px;
    margin-bottom: 20px;
    color: #9B9B9B;
}

.event-register {
	text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.my_btn {
	border-radius: 3px;
    border: 0;
    background: #44CCAD;
    margin: 0 auto;
    display: inline-block;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.05), 0px 1px 3px 0px rgba(0, 0, 0, 0.18);
    animation: ctaGlow 2s 1s alternate infinite ease-in-out;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.event-register-subtext {
    padding-top: 10px;
    line-height: 19px;
}

.event-follow {
	display: flex;
    flex-flow: column;
    padding-top: 10px;
    margin-top: 35px;
    border-top: 1px solid #eee;
    padding-left: 10px;
    padding-right: 10px;
}

.event-action-title {
    text-transform: uppercase;
    color: #C8C8C8;
    font-weight: bold;
    margin-bottom: 5px;
}

.event-user {
	display: flex;
    flex-flow: row;
    align-items: center;
    font-size: 16px;
    width: 100%;
}

.event-user-info {
    display: flex;
    flex-flow: row;
    overflow: hidden;
    align-items: center;
}

.event-user-avatar {
    width: 35px;
    height: 35px;
}

.event-user-name {
	margin-left: 10px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    margin-right: 10px;
    text-overflow: ellipsis;
}

.event-follow-btn {
    display: block;
    margin-left: auto;
    flex-shrink: 0;
}

.btn-follow {
    padding: 2px 7px;
	margin-top: 0;
}

.event-social {
	display: flex;
    flex-flow: row;
    align-items: center;
}

.event-social .event-action-title {
	margin-right: auto;
}

.event-social-nest {
	display: flex;
    flex-flow: row;
}

.event-social-nest > .social-icon {
    cursor: pointer;
    color: #C8C8C8;
    padding: 5px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    min-width: 27px;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 24px;
}

.social-icon:hover {
    color: black;
}

.event-previous {
    display: flex;
    flex-flow: column;
    padding-top: 10px;
    margin-top: 35px;
    border-top: 1px solid #eee;
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

.event-prev-container {
    display: flex;
    margin-bottom: 20px;
    flex-direction: row;
    box-shadow: 4px 4px 20px -10px #00000078;
    justify-content: space-around;
}

.event-prev-title {
    padding-left: 10px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}

.day {
    padding-right: 10px;
    border-right: 1px solid;
}

.event-prev-title > .social-icon {
    cursor: pointer;
    color: #C8C8C8;
    padding: 5px;
    min-width: 27px;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 24px;
}

.event-prev-title:hover > .fa-youtube {
    color: red;
}

.event-prev-title:hover > .fa-github {
    color: #000;
}
